body{
  color:lightblue;
  font-family:'Comic Sans MS', cursive,
  sans-serif;
  background-image:url("../images/bkground.jpg");


}


/*class selector*/
.pic{
  width:400px;height:200px;

}
.audio{
  width:200px; height:50px;
}


/*id selector*/
#vid1 , #vid2 {
  width:400px; height:200px;
}
