body {
  background-color:F5A422;
}


#kenny{
  height:200px; width:300px;
}

#cob{height:50px;width:100px;
  position: absolute;
    margin:0px auto;
    top: 0px;
    z-index: 2;
}

#pbj{
  height:200px; width:300px;
}
div{

  text-align: center;
  background-color:yellow;

  padding:15px;
  border:3px solid black;
  /*margin 0*/
  margin:0px auto;
}
