body{
  margin: 0;
}
.navbar{
  margin:0;
}
.custom-jumbotron{
  background-image: url(../images/gt350.jpg);
  height:700px;
  background-size:cover;
}
/*descendant selector*/
.how-it-works img{
  height:300;width:145;
}
.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
