body{
  margin: 0;
}
.navbar{
  margin:0;
}
.custom-jumbotron{
  background-image: url(../images/gt350.jpg);
  height:700px;
  background-size:cover;
}

.how-it-works{
  padding-bottom: 25px;
}
/*descendant selector*/


.how-it-works img{
  height:300;width:145;
}
.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.stang {
  background-color: lightblue;
}
.contact-me{
  background-color: #000000;
}
.contact-me input{
  margin-top: 10px;
  margin-bottom: 5px;
  color:black;
}
.contact-me-form{
  max-width:500px;
}
